.wadah {
  background-color: aquamarine;
  height: 100%;
  width: 60%;
  margin: 50px;
  padding: 40px;
  border-radius: 20px;
}

.inputan,
button {
  margin: 5px;
  height: 30px;
}

#tombolTambah:hover,
#reset:hover,
#coret:hover,
.tombolMinusPerJadwal:hover {
  cursor: pointer;
  font-size: 18px;
}

.wadahJadwalSebaris {
  display: flex;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}

.coret {
  text-decoration: line-through;
  color: gray;
}
