.inputan,
button {
  margin: 5px;
  height: 30px;
}

#tombolTambah:hover,
#reset:hover,
#coret:hover,
.tombolMinusPerJadwal:hover {
  cursor: pointer;
  font-size: 18px;
}

.wadahJadwalSebaris {
  display: flex;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}

.coret {
  text-decoration: line-through;
  color: gray;
}
